
{% macro errorList(errors) %}
	{% if errors %}
		<ul class="errors">
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}

{% from _self import errorList %}

<div class="contact-section">

<div class="contact-section">

	<div class="contact-form">
		{% for block in entry.contentMatrix %}
			{% switch block.type %}
			
				{% case "story" %}
					<h2>{{ block.storyTitle }}</h2>
					{{  block.storyBody }}

			{% endswitch %}                    
		{% endfor %}
	</div>


	<div class="contact-static">
		<h6><label>Web Site</label></h6>
		<p>{{ companyInfo.contactWeb }}</p>

		<h6><label>E-MAIL</label></h6>
		<p>{{ companyInfo.contactEmail }}</p>

		<h6><label>TELEPHONE</label></h6>
		<p>{{ companyInfo.contactPhone }}</p>
		{% if companyInfo.contactPhone2 %}<p>{{ companyInfo.contactPhone2 }}</p>{% endif %}

		<h6><label>ADDRESS</label></h6>
		<p>{{ companyInfo.contactAddr1 }}</p>
		{% if companyInfo.contactAddr2 %}<p>{{ companyInfo.contactAddr2 }}</p>{% endif %}
		<p>{{ companyInfo.contactCity }}, {{ companyInfo.contactState }} &nbsp; {{ companyInfo.contactZip }}</p>
	</div>
</div>
