{% extends "_layouts/_base" %}
{% block head %}
	<style type="text/css">
	</style>
{% endblock %}


{% block header %}

		<a href="#" class="menu"><span>≡</span> Menu</a>
	   <div id="bread">
			<p>Home</p>
		</div>
			
		<div id="pg-title">
			<h1>
				{{ site_vars.siteTitle }}
			</h1>
			<p>{{ site_vars.siteTagLine }}</p>
		</div>
		<div id="slogan">
			<h2>{{ entry.pageTitle }}</h2>
			<p>{{ entry.pageDesc }}</p>
		</div>

		{% for img in entry.pageImage %}
			<img title="{{ img.title }}" alt="{{ img.title }}" src="{{ img.url }}" />
		{% endfor %}

{% endblock %}


{% block main %}
		<section id="content">
			<aside id="side-panel">
			{% for img in entry.contentImages %}
				<div class="img-shadow">
					<img title="{{ img.title }}" alt="{{ img.title }}" src="{{ img.url }}" />
					<p class="caption">{{ img.title }}</p>
				</div>
			{% endfor %}
			</aside>
			<h3 class="highlight">{{ entry.contentTitle }}</h3>
			{{ entry.contentBody }}
		</section>

		<aside id="extras">
			<div id="navMain">
				{% include "_includes/_show-menu" %}
			</div>
		</aside>

		<div class="clear"></div>

		{% for block in entry.contentMartix %}
			<h2>block.type</h2>
		{% endfor %}

{% endblock %}

{% block footer %}

		{% include "_includes/_show-menu" %}

{% endblock %}
