{% extends "_layouts/_default" %}

{% block head %}
{% endblock %}


{% block body %}
    
<body>

	<div id="wrapper">
		<header id="top-header">
			{% block header %}
			{% endblock %}
		</header>

		<main role="main">
			{% block main %}
			{% endblock %}
		</main>
	</div>

	<div id="footer-wrapper">
		<footer class="footer">
			{% block footer %}
			{% endblock %}
			<p> &copy; {{ 'now'|date('Y') }} WaverlyDrive99.com. All rights reserved. </p>
			{#
			<p>{{ craft.config.env }} - {{ craft.config.wdUrl }} - {{ craft.config.wdPath }} - {{ craft.config.wdServerName }}</p>
			#}
		</footer>
	</div>

	{% include '_includes/_global-scripts.js' %}
	
	<script type="text/javascript">
		
		$(document).ready( function(){

		    $('.menu').click(function(e){
		      $('.drawer').toggleClass('active');
		      e.preventDefault();
		    });

			/**** debug js ****/
		    $('a.debug').click(function(e){
		    	var t = $(this).text();

		    	// if ( t == '???' ) {
		    		alert($(window).width()+' - '+$(document).width()+' - '+$('body').width());
		    	// }
		    	e.preventDefault();
		    });

		    /*
		     * set active nav state
		     */
			$('.navMain li').removeAttr('id');

			page = $.url('1');
			if ( !page ) {
				page = "home";
			}

			$( ".navMain li a[data-navID="+page+"]" ).parent().attr('id', 'currentNavMain');

			{% block js %}
				{# add local js script here #}
			{% endblock %}
		});
	</script>


</body>

{% endblock %}
